.responsiveImg {
  width: auto;
  width: 100%;
}

.card {
  width: 80%;
  height: 100%;
  max-width: 90%;
}

@media screen and (max-width: 768px) {
  .card {
    width: 80%;
  }
}

@media screen and (max-width: 690px) {
  .card {
    width: 90%;
  }
}
