.wrapper {
  border: 2px dotted cyan;
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.wrapper2 > span {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
