.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 3em;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(52.5, 10.5, 31.5, 1),
    rgba(52.5, 10.5, 31.5, 0.84)
  );
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.wrapper2 > span {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.rightWrapper {
  margin: 3em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 3em;
}

.image {
  background-position: right -200px top;
  background-position-x: right -200px;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.bottomWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4em;
  margin-top: 4em;
  height: auto;
}

.bottomWrapper2 {
  width: 70%;
}

.videoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.horizontalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paddingClass {
  padding-top: 2em;
  padding-bottom: 2em;
}

.keywords {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.centerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3em;
}
