.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.drawer {
  display: none;
}

@media screen and (max-width: 1299px) {
  .navMenu {
    display: none;
  }
  .drawer {
    display: block;
    order: -1;
  }
}
