.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.textClass:hover {
  text-decoration: underline;
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper2 {
  display: none;
}

.drawer {
  display: none;
}

.cursor {
  cursor: pointer;
}

@media screen and (max-width: 1299px) {
  .navMenu {
    display: none;
  }
  .drawer {
    display: block;
    order: -1;
  }
}
.wrapper2Div {
  width: 30%;
}

@media screen and (max-width: 1043px) {
  .watchlist {
    display: none;
  }
  .menuWrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 721px) {
  .divider {
    display: none;
  }
  .menuWrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    display: none;
  }
  .wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .menuWrapper {
    flex-direction: column;
  }
  .wrapper2Div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
