.iconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.list {
  list-style-type: none;
}

.listWrapper {
  padding-left: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 40px;
}

.textWrapper {
  display: block;
  margin-bottom: 20px;
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
}

.timeline {
  margin-top: 20px;
}

@media screen and (max-width: 578px) {
  .wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
  }
  .textWrapper {
    font-size: larger;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    padding: 80px;
  }
}
