.wrapper {
  padding: 6em;
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.sideWrapper {
  padding-left: 2em;
  width: 100%;
}

.sideWrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrapper3 {
  margin-bottom: 2em;
}

.imageWrapper {
  width: min-content;
}

@media screen and (max-width: 768px) {
  .wrapper2 {
    flex-direction: column;
  }
  .wrapper {
    padding: 4em;
  }
  .sideWrapper {
    padding-left: 0;
  }
}

@media screen and (max-width: 440px) {
  .sideWrapper2 {
    flex-direction: column;
    align-items: flex-start;
  }
}
