.wrapper {
  padding: 4em;
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.sideWrapper {
  padding-left: 2em;
  width: 100%;
}

.sideWrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
